

<ion-view view-title="{{ 'abou_header_page' | translate }}">
  <ion-content padding="true" overflow-scroll="false" style="text-align:center">
  <div>
      <img src="./img/LogoYUP.png" style="width:50%; height: 30%;">
    <h4 style="text-align: left; color:brown">{{ 'label_yup_en_bref' | translate }} </h4>
    <p style="text-align: left;">
        {{ 'content_about_bloc_un' | translate }}
    </p>
    <h4 style="text-align: left; color:brown">{{ 'label_yup_vision' | translate }}</h4>
    <p style="text-align: justify;">
        {{ 'content_about_bloc_deux' | translate }}
    </p>
    <h4 style="text-align: left; color:brown">{{ 'label_missions' | translate }}</h4>
    <p style="text-align: justify;">
        {{ 'content_about_bloc_trois' | translate }}
    </p>
  </div>
</ion-content>
</ion-view>
