<ion-view view-title="{{ 'acceuil_header' | translate }}" cache-view="false">
  <ion-pane>
    <div ng-app="starter">
      <ion-content>
        <style type="text/css">
          input[readonly] {
            background-color: transparent !important;
            cursor: not-allowed;
          }

          .bg-div { 
            background: url('../img/LOGO.jpeg') no-repeat center;
            margin-top: 30px !important;
            margin-right: 20px !important;
            background-size: 100%;
           }

        </style>
        <div class="row bg-div" style="height: 40%;">
        </div>

        <div class="row" style="padding-top: 30%">
          <div class="col text-center">
            <h2 style="font-size: 15px;color: #0a86c4;font-style: italic;">
              <b>
                ALLIANCE FIBRE OPTIQUE ET TECHNOLOGIES
            </b>
          </h2>
          </div>
        </div>

      </ion-content>
    </div>
  </ion-pane>
</ion-view>
