<ion-view title="{{ 'TAB1' | translate }}">
    <ion-content class="has-header padding">
        <div style="text-align: center">
            <img src="./img/LogoYUP.png" style="width:70%; height: 40%;">
            <p>
              <div>
                <a href="#/tab/friends" class="button button-block button-positive"><i class="icon ion-log-in"></i>{{ 'btn_conn' | translate }}</a>
                <!--<a ng-show="connectedyet" href="#/app/browse" class="button button-block button-positive"><i class="icon ion-log-in"></i> Bienvenue</a>-->
              </div>
              &copy YUPdfgkj
            </p>
            <br>
            <img src="./img/sgbs.png" style="width:40%;">
          </div>
    </ion-content>
</ion-view>
